@import "../../variables";

.members-container {
  background-image: url("../../images/white-background.png");
  background-size: 200%;
  padding: 48px 48px 120px;

  h2 {
    color: $bright-pink;
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    margin-bottom: 64px;
  }
  &__delete {
    font-family: $default-font;
    font-size: 18px;
    background-color: transparent;
    border: none;
    &:hover {
      color: $bright-pink;
      cursor: pointer;

    }
  }
  .newMembersBotton{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .members-container__add {
    font-family: $default-font; 
    background-color: $bright-pink; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px; 
    border-radius: 12px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background-color: darken($bright-pink, 10%); 
    }
    
  }
  
}
