@import "../../variables.scss";

.apply-theme {
  font-size: 70px;
  margin-top: 0;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #D9D9D9;
}

input[type=submit] {
  width: 100%;
  background-color: #C9195A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #C9195A;
}

.apply-container {
  padding: 3rem;
  background-color: $bright-pink;
  h1 {
    color: whitesmoke;
  }
  .apply-form-container {
    display: flex;
  }
  .apply-form-img {
    width: 100%;
    border-radius: 12px;
  }
  .apply-form {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 2rem;
  }
}