@import "../../variables.scss";

.container-skills {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.percentage {
    background-color: #EECD42;
    color: black !important;
    border-radius: 5px;
}

.complete {
    color: $bright-pink;
    font-weight: bold;
}

.newButton {
    background-color: $bright-pink;
    border-radius: 16px;
    color: $off-white;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 24px;
    height: fit-content;
    align-items: flex-end;
}